<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="open" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="name">Name</label>
                    <br>
                    <input  type="text"  name="name" id="name"  >
                </div>
                <div class="col-12 mb-2">
                    <label for="alise">Alise</label>
                    <br>
                    <input type="text" name="alise" id="alise"  >
                </div>
                
                

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="AddUser()">Submit</button>
        </div>
      </div>
    </div>
  </div>