<%- include("./component/Layout.ejs", {PathName:"/dashboard"}) %>

    <h1>This is DashBoard Page</h1>
    
    
    <script src="../public/Assets/js/main.js"></script>
 <script src="../public/Assets/js/theme.js"></script>

</body>
</html>